<div class="about">
    <div class="myMission">
        <h1>My Mission</h1>
        <p>This is an experimental-solo project. My mission for now is to build a frankenstein-website that includes a set of tools and utilities that may or may not be useful for my users or visitors. This allows me to try and expiriment a bounch of new technologies from the back-end all the way to the web-desinge part, which is something I need to learn about. If you could find something helpful during your visiting, that is great, just keep using it!</p>
        <p>As you may know, I do not have a clear mind of any ideas. The website will also not have a main theme or service like other websites, however, the website will keep growing whenever an idea comes out of my mind. Oh! Lastly, if you have any idea, please contact me, I would love to hear your ideas!</p>
    </div>
    <div class="aboutMe">
        <h1>
            About Me
        </h1>
        <p>My name is Lin. I am currently a full time software developer in Montreal. I like photography, hiking, and travaling. </p>
    </div>
    
</div>