*{
    font-family: 'Montserrat', sans-serif;
}
.gallery{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    min-height: 90vh;
}
.galleryHeader{

    text-align: center;
    width: 100%;
    margin: 22px 0;
    h2{
        font-weight: 100;
        opacity: 0.87;
        letter-spacing: 10px;
        font-style: italic;
    }
    .tagsContainer{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        padding:22px;
        opacity: 0.87;
        .tags{
            width: 100%;
            padding:0;
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-content:center;
            flex-wrap: wrap;
            .tag{
                cursor: pointer;
                padding: 5px 18px;
                margin: 5px 5px;
                border: solid 2px;
                border-radius: 20px;
                transition: ease-in-out 0.2s;
                &:hover{
                    color:white;
                    background-color:black;
                    opacity: 0.87;
                    transition: ease-in-out 0.2s;
                }
            }
        }
    }

}
.photos {
	max-width: 1140px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-bottom: 300px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 350px));
	row-gap: 20px;
	column-gap: 20px;
    justify-content: center;
}

.manageGallery{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  div{
      margin-bottom: 12px;
  }
  .formField{
      width: 100%;
  }
}
