<div class="post">
    <h1>{{post.title}}</h1>
    <h3>Created by {{post.author}} on {{post.created | date}}, updated on {{post.lastUpdated | date}}</h3>
    <button *ngIf="showDeleteButton" (click)="deletePost()">Delete</button>
    <section class="content" [innerHTML]="post.content | safeHtml"></section>

    <div *ngIf="showUpdateForm" class="newPostForm">
        <form  [formGroup]="updatePostForm" (ngSubmit)="onPostSubmit()">
            <label>
                Title:
                <input class="newPostFormTitle" type="text" formControlName="title" />
              </label>
            <ckeditor [editor]="Editor" [config]="CKEditorConfig" data="<p>Hello, world!</p>" formControlName="content" ></ckeditor>
            <button type="submit">Update Post</button>
        </form>
    </div>
    
</div>