.adminDashboard{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .newPostForm{
        max-width: 600px;
        max-height: 900px;
        input{
            width: 90%;;
        }
        
    }
}
:host ::ng-deep .ck-editor__editable_inline {
    min-height: 500px;
}