<nav>
    <div class="logo">
      林
    </div>
    <ul [@fade]="isNavHide ? '*' : 'show' " class="nav-links">
      <li>
        <a routerLink="/">Home</a>
      </li>
      <li>
        <a routerLink="/about">About</a>
      </li>
      <li>
        <a routerLink="/gallery">Gallery</a>
      </li>
      <li>
        <a routerLink="/blog">Blog</a>
      </li>
      <li>
        <a routerLink="/ytdl">Ytdl</a>
      </li>
      <li>
        <a routerLink="/login">login</a>
      </li>
    </ul>
    <div (click)="toggleNavbar()" class="burger">
      <div></div>
      <div></div>
      <div></div>
    </div>
</nav>