.post{
    display: flex;
    flex-direction: column;
    .titleLink{
        color: black;
        text-decoration-line: none;
        &:hover{
            text-decoration-line: underline;
        }
    }

    .content{
        display: -webkit-box;;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .info{
        width: 500px;
    }    
}

