<div class="ytdl">
    <div class="form-container">
        <form #downloadForm="ngForm" class="form" (ngSubmit)="onSubmit()">
            <select id="filetype" [(ngModel)]="formDataModel.filetype" name="video-formats" name="output">
                <option value="video">Video</option>
                <option value="audio">Audio</option>
            </select>

            <input id="url" type="text" name="url" required [(ngModel)]="formDataModel.url" #url="ngModel">
            <div [hidden]="url.valid || url.pristine" class="alert alert-danger">
                url is required
            </div>
            
            <select id="audio-formats" [(ngModel)]="formDataModel.format" name="audio-formats" [hidden]="formDataModel.filetype==='video'" >
                <option *ngFor="let f of audioFormats" [value]="f">{{f}}</option>
            </select>

            <label [hidden]="formDataModel.filetype==='video'" for="quality">Quality:</label>
            <select id="quality" [(ngModel)]="formDataModel.quality" name="quality" [hidden]="formDataModel.filetype==='video'">
                <option *ngFor="let q of quality" [value]="q[1]">{{q[0]}}</option>
            </select>

            <!-- <button type="submit" class="btn" [disabled]="!downloadForm.form.valid">Submit</button> -->
            <button type="submit" class="learn-more" [disabled]="!downloadForm.form.valid">
                <span class="circle" aria-hidden="true">
                    <span class="icon arrow"></span>
                </span>
                <span class="button-text">Download</span>
            </button>
            <mat-progress-bar *ngIf="showProgressBar" mode="indeterminate"></mat-progress-bar>
        </form>
    </div>
</div>
<app-footer></app-footer>