<div class="gallery">
    <div class="galleryHeader">
        <div>
            <h2>Gallery</h2>
        </div>
        <div class="tagsContainer">
            <ul class="tags" >
                <li class="tag" (click)="showAllTagClick()">
                    Show All
                </li>
                <li class="tag" *ngFor="let tag of tags" (click)="tagClick(tag)">
                    {{tag.title}}
                </li>
            </ul>
        </div>
    </div>
    <div class="images">
        <app-image 
        *ngFor="let photo of photosTemp"
        [photo]="photo"
        [tags]="tags"
        [editMode]="isEditMode"
        (clickedImageEmitter)="showLightBox($event)"
        (deleteImageEmitter)="deleteImage($event)"
        [@imageFade]>
        </app-image>
    </div>
    <!-- The Modal -->
    <div [@lightBox]="isLightBoxShown ? 'show' : '*' " class="modal">
        <span (click)="hideLightBox()" class="close">&times;</span>
        <img src={{imageUrl}} class="modal-content">
        <div id="caption">
            <p>{{description}} Tags: {{tagsInString}}</p>
            <p>{{photoMeta}}</p>
        </div>
    </div>
    <!-- *ngIf="canManageGallery"  -->
    <div class="manageGallery">
        <div>
            <!-- *ngIf="canManageGallery"  -->
            <button mat-stroked-button (click)="editButtonClick($event)">Edit</button>
        </div>

        <div>
            <form [formGroup]="newTagForm" (ngSubmit)="newTag()">
                <mat-form-field appearance="fill" id="Tag">
                    <mat-label>Tag</mat-label>
                    <input matInput formControlName="tag">
                </mat-form-field>
                <mat-error *ngIf="newTagFormError">
                    {{newTagFormError}}
                </mat-error>
                <button mat-stroked-button type="submit">Create New Tag</button>
            </form>
        </div>
        <div>
            <form [formGroup]="uploadImageForm" (ngSubmit)="addPhoto()">
                <img src="{{imagePreviewUrl}}" width="300"/>
                <input type="file" formControlName="image" (change)="onUploadImageSelect($event)" />
                <mat-error *ngIf="uploadImageFormImageError">
                    {{uploadImageFormImageError}}
                </mat-error>

                <mat-form-field appearance="fill">
                    <mat-label>Name</mat-label>
                    <textarea matInput type="text" formControlName="photoname"></textarea>
                </mat-form-field>

                <mat-form-field appearance="fill" id="ImageDescription">
                    <mat-label>Description</mat-label>
                    <textarea matInput type="text" formControlName="description"></textarea>
                </mat-form-field>

                <mat-form-field id="tagChips">
                    <mat-chip-list #chipList aria-label="Tag selection">
                        <mat-chip *ngFor="let tag of tagChips" [selectable]="false" [removable]="removable" (removed)="remove(tag)">
                            {{tag.title}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input placeholder="Tags..." #tagInput [formControl]="tagControl" [matAutocomplete]="auto"
                            [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            (matChipInputTokenEnd)="add($event)">
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                        <mat-option *ngFor="let tag of filteredTagChips | async" [value]="tag">
                            {{tag.title}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <!-- <mat-selection-list formControlName="tags">
                    <mat-list-option value="{{tag.id}}" *ngFor="let tag of tags">
                        {{tag.title}}
                    </mat-list-option>
                </mat-selection-list> -->

                <mat-error *ngIf="uploadImageFormError">
                    {{uploadImageFormError}}
                </mat-error>
                <button mat-stroked-button type="submit">Upload Image File</button>
            </form>
        </div>

    </div>

</div>
<p style="text-align: center;">All the images are compressed, please contact me for better quality images.</p>
<app-footer></app-footer>