<div class="gallery">
    <div class="galleryHeader">
        <div>
            <h2>Gallery</h2>
        </div>
        <div class="tagsContainer">
            <ul class="tags" >
                <li class="tag" (click)="showAllClick()">
                    Show All
                </li>
                <li class="tag" *ngFor="let tag of tags" (click)="tagClick(tag)">
                    {{tag.tag}}
                </li>
            </ul>
        </div>
    </div>
    <div class="images">
        <app-image 
        *ngFor="let image of imagesTemp"
        [image]="image"
        [tags]="tags"
        [editMode]="isEditMode"
        (clickedImageEmitter)="showLightBox($event)"
        (deleteImageEmitter)="deleteImage($event)">
        </app-image>
        
    </div>
    <p style="text-align: center;">All the images are compressed, please contact me for better quality images.</p>

    <!-- The Modal -->
    <div [@lightBox]="isLightBoxShown ? 'show' : '*' " class="modal">
        <span (click)="hideLightBox()" class="close">&times;</span>
        <img src={{imageUrl}} class="modal-content">
        <div id="caption"><p>{{description}} Tags: {{tagsInString}}</p></div>
    </div>

    <div *ngIf="canManageGallery" class="manageGallery">
        <div>
            <button mat-stroked-button *ngIf="canManageGallery" (click)="editButtonClick($event)">Edit</button>
        </div>

        <div>
            <form [formGroup]="newTagForm" (ngSubmit)="onTagSubmit()">
                <mat-form-field appearance="fill" id="Tag">
                    <mat-label>Tag</mat-label>
                    <input matInput formControlName="tag">
                </mat-form-field>
                <mat-error *ngIf="newTagFormError">
                    {{newTagFormError}}
                </mat-error>
                <button mat-stroked-button type="submit">Add Tag</button>
            </form>
        </div>
        <div>
            <form [formGroup]="uploadImageForm" (ngSubmit)="onImageSubmit()">
                <img #imageInput src="{{imagePreviewUrl}}" width="300"/>
                <input type="file" formControlName="image" (change)="onImageSelect($event)" />
                <mat-error *ngIf="uploadImageFormImageError">
                    {{uploadImageFormImageError}}
                </mat-error>

                <mat-form-field appearance="fill" id="ImageDescription">
                    <mat-label>Image Description</mat-label>
                    <textarea matInput type="text" formControlName="description"></textarea>
                </mat-form-field>

                <mat-selection-list formControlName="tags">
                    <mat-list-option value="{{tag.id}}" *ngFor="let tag of tags">
                        {{tag.tag}}
                    </mat-list-option>
                </mat-selection-list>

                <mat-error *ngIf="uploadImageFormError">
                    {{uploadImageFormError}}
                </mat-error>
                <button mat-stroked-button type="submit">Upload Image File</button>
            </form>
            
            <button mat-stroked-button (click)="getExif()">Get Data</button>
        </div>

    </div>

</div>
<app-footer></app-footer>