<div class="gallery">
    <div class="galleryHeader">
        <div>
            <h2>Gallery</h2>
        </div>
        <div class="tagsContainer">
            <ul class="tags" >
                <li class="tag" (click)="showAllClick()">
                    Show All
                </li>
                <li class="tag" *ngFor="let tag of tags" (click)="tagClick(tag)">
                    {{tag.tag}}
                </li>
            </ul>
        </div>
    </div>
    <div class="images">
        <app-image 
        *ngFor="let image of imagesTemp"
        [image]="image"
        [tags]="tags"
        [editMode]="isEditMode"
        (clickedImageEmitter)="showLightBox($event)"
        (deleteImageEmitter)="deleteImage($event)">
        </app-image>
        
    </div>
    <p style="text-align: center;">All the images are compressed, please contact me for better quality images.</p>

    <!-- The Modal -->
    <div [@lightBox]="isLightBoxShown ? 'show' : '*' " class="modal">
        <span (click)="hideLightBox()" class="close">&times;</span>
        <img src={{imageUrl}} class="modal-content">
        <div id="caption">{{description}} Tags: {{tagsInString}}</div>
    </div>

    <div *ngIf="canManageGallery" class="manageGallery">
        <div>
            <form [formGroup]="newTagForm" (ngSubmit)="onTagSubmit()">
                <label>
                    Tag:
                    <input class="newTagFormTag" type="text" formControlName="tag" />
                </label>
                <button type="submit">Add Tag</button>
            </form>
            <form [formGroup]="uploadImageForm" (ngSubmit)="onImageSubmit()">
                <input type="file" formControlName="image" (change)="onImageSelect($event)" />
                <label>
                    Description:
                    <input type="text" formControlName="description" />
                </label>
                <select size="5" formControlName="tags" multiple>
                    <option *ngFor="let tag of tags" value="{{tag.id}}">{{tag.tag}}</option>
                </select>
                <button type="submit">Upload Image File</button>
            </form>
        </div>
        
        <div>
            <button *ngIf="canManageGallery" (click)="editButtonClick($event)">Edit</button>
        </div>

    </div>

</div>
<app-footer></app-footer>