<footer>
    <div class="logo">林</div>
    <div>
        <ul class="footer-nav-links">
            <li>
                <a href="">Home</a>
            </li>
            <li>
                <a href="">About</a>
            </li>
            <li>
                <a href="">Gallery</a>
            <li>
                <a href="">Ybload</a>
            </li>
        </ul>
    </div>
    <div class="social-medias">
        <a href="">
            <span style="font-size: 12px; color: rgb(32, 32, 32);">
                <i class="fab fa-facebook-square fa-5x"></i>
            </span>
        </a>
        <a href="">
            <span style="font-size: 12px; color: rgb(32, 32, 32);">
                <i class="fab fa-git-square fa-5x"></i>
            </span>
        </a>
        <a href="">
            <span style="font-size: 12px; color: rgb(32, 32, 32);">
                <i class="fab fa-linkedin fa-5x"></i>
            </span>
        </a>
    </div>
    <div>
        <small>&copy; Copyright 2019, Linyi Jiang</small>
    </div>
</footer>